transmission {
  h1{
    text-align: center;
    color:#51a7e8;
    border-bottom:  1px solid black;
    padding : 15px;
  }
  .receiever_container h3{
    padding-top : 20px;
    color : red;
  }
  .receiver ion-list{
    padding-left : 20px;
  }


  ion-toolbar{
    text-align : center;
  }

}

